// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.
@import "core-override.variables.styl"

$primary   = #4a1289
$secondary = #26A69A
$tertiary  = #555

$neutral   = #E0E1E2
$positive  = #09B200
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

$dark      = #272B35
$p-light   = #7c41ba
$dark2     = #1E2128
$dimwhite  = rgba(255,255,255,0.6)

$body-background = #272B35
$body-color = #ffffff
$modal-body-color = $white
$modal-background = $dark2

$stepper-label-color = $grey
$stepper-divider-color = $grey

$layout-aside-background = #1E2128

$toolbar-min-height = 80px

$dimmed-background = rgba(0,0,0,0.5)

$modal-max-height = 610px
$modal-max-width = 900px

$tabs-min-height = 70px
