// app global css
.q-stepper-tab.step-waiting {
  color: white;
}

.dark2 {
  background: #1E2128;
}

.bg-dark2 {
  background: #1E2128;
}

.router-link-active {
  background: var(--q-color-primary) !important;
}

.q-stepper-header {
  color: white;
}
