// app global css

.drawer-margin {
  margin-left:300px;
}

.dark2 {
  background: #1E2128;
  color: #fff;
}

.text-dimwhite{
  color: rgba(255,255,255,0.6); 
} 
 

.p-light {
  color: #7c41ba;
}

.large-text-dark2 {
  color: rgba(255, 255, 255, .41);
}

.small-text-dark2 {
  color: rgba(255, 255, 255, .46);
}

.large-text-dark {
  color: rgba(255, 255, 255, .34);
}

.small-text-dark {
  color: rgba(255, 255, 255, .48);
}

.bg-dark2 {
  background: #1E2128;
}

.router-link-active {
  background: var(--q-color-primary) !important;
}

.markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 980px;
        padding: 0px 45px 45px 45px;
        background: white;
    }

    @media (max-width: 767px) {
        .markdown-body {
            padding: 15px;
        }
    }

.q-stepper-step {
  background: #1E2128;
}

.q-stepper-dot {
  background: none;
  font-size: 24px;
}
.q-stepper-tab.step-done {
  color: var(--q-color-positive);
}

.q-stepper-tab.step-done.step-colored > .q-stepper-line:after {
background: var(--q-color-positive);
}

.q-stepper-tab.step-done.step-colored > .q-stepper-line:before {
background: var(--q-color-positive);
}

.q-stepper-tab.step-waiting {
color : var(--q-color-white);
}

.q-stepper-tab.step-done.step-colored > .q-stepper-dot > span > i {
  color: var(--q-color-positive);
}

.q-tabs-position-top .q-tabs-bar {
    top: 0;
    border-top-width: 1px;
}


/*these are the default quasar breakpoints
use these when you need to change additional
styles*/

/*xs  576px Extra small sized window*/
@media only screen and (min-width: 576px) {

}
/*sm  768px Small sized window*/
@media only screen and (max-width: 768px) {
    .wp_col{
      border-left:0 !important;
      border-top:1px solid rgba(255,255,255,0.5);
      margin-bottom:15px !important;
      padding-top:20px !important;


  }

}
/*md  992px Medium-sized window*/
@media only screen and (min-width: 992px) {

}
/*lg  1200px  Large sized window*/
@media only screen and (min-width: 1200px) {

}
/*xl  Infinite  Extra large sized window*/
@media only screen and (min-width: 1200px) {

}
